[submodule "rvgpu-mesa"]
	path = rvgpu-mesa
	url = https://gitee.com/rvgpu/rvgpu-mesa.git
[submodule "rvgpu-cmodel"]
	path = rvgpu-cmodel
	url = https://gitee.com/rvgpu/rvgpu-cmodel.git
[submodule "rvgpu-llvm"]
	path = rvgpu-llvm
	url = https://github.com/rvgpu/rvgpu-llvm.git
[submodule "docs"]
	path = docs
	url = https://gitee.com/rvgpu/docs.git
[submodule "tools"]
	path = tools
	url = https://gitee.com/rvgpu/tools.git
[submodule "qemu"]
	path = qemu
	url = https://gitee.com/rvgpu/qemu.git
