[submodule "rvgpu-mesa"]
	path = rvgpu-mesa
	url = http://10.100.101.58/rvgpu/rvgpu-mesa.git
[submodule "rvgpu-cmodel"]
	path = rvgpu-cmodel
	url = http://10.100.101.58/rvgpu/rvgpu-cmodel.git
[submodule "rvgpu-llvm"]
	path = rvgpu-llvm
	url = http://10.100.101.58/rvgpu/rvgpu-llvm.git
[submodule "docs"]
	path = docs
	url = http://10.100.101.58/rvgpu/docs.git
[submodule "tools"]
	path = tools
	url = http://10.100.101.58/rvgpu/tools.git
